### Library Import

In [176]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.optimize import minimize
import matplotlib.pyplot as plt
from scipy.stats.mstats import gmean

### Input File Read

In [177]:
data=pd.read_csv("./../data/01_data_mars_opposition.csv")

In [178]:
data.head()

,Day,Month,Year,ZodiacIndex,Degree,Minute,Second,LatDegree,LatMinute,ZodiacIndexAverageSun,DegreeMean,MinuteMean,SecondMean
0,18,11,1580,2,6,28,35,1,40,1,25,49,31
1,28,12,1582,3,16,55,30,4,6,3,9,24,55
2,30,1,1585,4,21,36,10,4,32,4,20,8,9
3,6,3,1587,5,25,43,0,3,41,6,0,47,40
4,14,4,1589,7,4,23,0,1,12,7,14,18,26

In [179]:
mars_heliocentric_longitude=data.iloc[:,3:7]

In [180]:
s=data["ZodiacIndex"].values
degree=data["Degree"].values
minute=data["Minute"].values
seconds=data["Second"].values

In [181]:
mars_heliocentric_longitude_in_degree= s*30 +degree + (minute/60) + (seconds/3600)

In [182]:
#mars_heliocentric_longitude_in_degree

In [183]:
mars_heliocentric_longitude_in_radian= mars_heliocentric_longitude_in_degree*math.pi/180.0

In [184]:
#mars_heliocentric_longitude_in_radian

In [185]:
geocentric_latitude=data.iloc[:,7:9]

In [186]:
geocentric_latitude.head(12)

    LatDegree  LatMinute
0           1         40
1           4          6
2           4         32
3           3         41
4           1         12
5          -4          0
6          -6         -2
7           0          8
8           3         33
9           4         30
10          4         10
11          2         26

In [187]:
#Not Required for First Part
geocentric_latitude_in_radian=(np.pi/180)*((geocentric_latitude["LatDegree"].values )+ (geocentric_latitude["LatMinute"].values /60))

In [188]:
geocentric_latitude_in_radian

array([ 0.02908882,  0.0715585 ,  0.07912159,  0.06428629,  0.02094395,
       -0.06981317, -0.10530153,  0.00232711,  0.06195919,  0.07853982,
        0.07272205,  0.04246968])

In [189]:
mars_heliocentric_longitude_in_radian

array([1.16023186, 1.8661933 , 2.4714347 , 3.06683438, 3.74169503,
       4.655084  , 5.97368025, 0.82951621, 1.61384778, 2.24507519,
       2.83528737, 3.46656326])

# Q3 _1

In [190]:
orbit_radius=1.579

In [191]:
mars_heliocentric_latitude=np.arctan(np.tan(geocentric_latitude_in_radian)*(1-(1/orbit_radius)))

In [192]:
np.mean(mars_heliocentric_latitude*(180/np.pi))

0.6095314726584946

# Q3_2

In [211]:
x_list=[]
y_list=[]
z_list=[]
for i in range(len(data)):
    x_list.append(orbit_radius*np.cos(mars_heliocentric_longitude_in_radian[i]))
    y_list.append(orbit_radius*np.sin(mars_heliocentric_longitude_in_radian[i]))
    z_list.append(orbit_radius*np.sin(mars_heliocentric_latitude[i]))

In [212]:
x_list

[0.6302214506342391,
 -0.45967793460779227,
 -1.2374995178179231,
 -1.5745896978845022,
 -1.3031136550529445,
 -0.09043504387294278,
 1.5039729319883364,
 1.066192411341149,
 -0.06795725041023541,
 -0.9858236406673199,
 -1.505504138091703,
 -1.4963553142391834]

In [213]:
y_list

[1.4477782714077716,
 1.5106082206961255,
 0.9807323505423933,
 0.11793338507815275,
 -0.8917038757427017,
 -1.5764081016157265,
 -0.48094326052706743,
 1.1646779563461078,
 1.5775369447707652,
 1.2334475057745389,
 0.47612843875235894,
 -0.5041445958732023]

In [214]:
z_list

[0.016846220501001975,
 0.04148890670302791,
 0.045887848948930464,
 0.037262744659470666,
 0.012127963296328722,
 -0.04047432084141677,
 -0.061150035146953836,
 0.0013473961242206885,
 0.03591105632158501,
 0.04554932456704468,
 0.042165409444318055,
 0.024601751942458543]

### Inclination of Mars orbit to Reference Axis

In [215]:
def loss_function(params,args):
    
    a=params[0]
    b=params[1]
    c=params[2]
    d=params[3]
    
    x=args[0]
    y=args[1]
    z=args[2]
    loss=0
    for i in range(len(phi)):
        d = abs((a * x[i] + b * y[i] + c * z[i] + d))  
        e = (math.sqrt(a * a + b * b + c * c))
        loss+=(d/e)
        
    
    #print(loss)
    return loss

In [232]:
def optimizer(function,method_name,x_list,y_list,z_list):
    
    
    initial_parameters = [1,1,2,3] #Random Values
    #bound to avoid case of global Minima where i am getting Loss = 0
    #bounds = [(0.1, np.inf) for _ in a] + [(-np.inf, np.inf)]
    
    parameters = minimize(function, initial_parameters,
                      args=[x_list,y_list,z_list
                            ],
                      method=method_name)
    #optimized_params, loss = parameters['x'], parameters['fun']
    #print(optimized_params1)
    #print(squared_error_loss1)
    return parameters['x'], parameters['fun']

In [233]:
print("Optimizing Parameters .... ")
function_name=loss_function
optimized_params, loss= optimizer(function_name,'BFGS',x_list,y_list,z_list)
print("Optimized Parameters Computed")

Optimizing Parameters ....
Optimized Parameters Computed

In [234]:
optimized_params

array([ 0.12395044, -0.15173525,  6.17753296,  0.06811921])

In [235]:
loss

0.0541954941909738

In [236]:
np.linalg.norm(optimized_params)

6.181014560819571

In [238]:
inclination=np.arccos(optimized_params[2]/np.linalg.norm(optimized_params))*(180/np.pi)

In [239]:
inclination

1.9231696446879698